<div class="shipping-line">
  <span *ngIf="shipping.date; else filler">{{
    shipping.date
      .toDate()
      .toString()
      .substr(0, 15)
  }}</span>
  <ng-template #filler>
    <span>Har ej {{ shipping.incoming ? 'anlänt' : 'skickats' }}</span>
  </ng-template>
  <span>{{ product.title }}</span>
  <span>{{ warehouse.city }}</span>
  <span>
    {{ shipping.incoming ? '+' : '-' }} {{ shipping.units }}
    <mat-icon (click)="onEdit(shipping)" style="padding-left: 0.5em">
      create</mat-icon
    >
    <mat-icon
      style="padding-left: 0.5em"
      [ngStyle]="{ color: shipping.incoming ? 'green' : 'red' }"
    >
      {{ shipping.incoming ? 'arrow_downward' : 'arrow_upward' }}</mat-icon
    >
  </span>
</div>
