<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayout.sm="column"
  fxLayoutGap="2em"
  fxLayoutAlign="center"
  class="container"
>
  <mat-card fxFlex="1 1 calc(50% - 2em)" class="form-container">
    <mat-card-title style="text-align: center">Produkter</mat-card-title>
    <app-product-list
      (editProduct2)="editProduct2($event)"
      [products]="products"
    ></app-product-list>
  </mat-card>

  <app-create-product-form
    fxFlex="1 1 calc(50% - 2em)"
    class="form-container"
    (addProduct)="addProduct($event)"
    style="max-height: 392.5px"
    [editProduct]="editProduct"
  ></app-create-product-form>
</div>
