<mat-card fxFlex="1 1 calc(50% - 2em)" style="max-height: 392.5px">
  <mat-card-title>Lägg till produkt</mat-card-title>
  <form (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field>
      <input
        matInput
        name="title"
        [(ngModel)]="title"
        placeholder="Produktnamn"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="productNumber"
        [(ngModel)]="productNumber"
        placeholder="Produktnummer"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="price"
        [(ngModel)]="price"
        placeholder="Pris"
        type="number"
      />
      <span matSuffix>SEK</span>
    </mat-form-field>
    <div style="text-align: center">
      <button mat-raised-button color="primary" type="submit">
        {{ buttonText }}
      </button>
    </div>
  </form>
</mat-card>
